<div class="row">
    <h1>Experiencia</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Trabajo 1</h1>
            <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi repellendus sed doloribus quo minima vel magni, nostrum enim libero harum repudiandae illo, cumque minus nam amet quod mollitia explicabo iste.
            </p>
        </ul>
        <ul>
            <li><h1>Trabajo 2</h1>
            <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi repellendus sed doloribus quo minima vel magni, nostrum enim libero harum repudiandae illo, cumque minus nam amet quod mollitia explicabo iste.
            </p>
        </ul>
        <ul>
            <li><h1>Trabajo 3</h1>
            <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi repellendus sed doloribus quo minima vel magni, nostrum enim libero harum repudiandae illo, cumque minus nam amet quod mollitia explicabo iste.
            </p>
        </ul>
    </div>
</div>