<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/im/perfil.jpg" class="img-fluid" id="fperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
         <p id="nombre">Benitez Florencia Ines</p>
         <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
             <h1>Acerca de Mi</h1>
             <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam consectetur numquam quia, similique culpa minima blanditiis suscipit vitae maiores optio nesciunt non expedita, doloremque reprehenderit obcaecati ullam ea deleniti laudantium.</p>
        </span>
    </div>
</div>