.row{
    padding: 20px;
}

div{
    background-color: #a1b5cb;
}

/*foto de perfil estilo*/
@media (min-width: 576px){
    #fperfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
    }
}
@media (max-width: 575px){
    #fperfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
    }
}

#nombre{
    font-weight:  bold;
    margin-top:  25%;
}